//variaveis
$primary-color: #2c3e50;
$secondary-color: #18bc9c;
$link-color: #3498db;
$link-hover-color: #1abc9c;
$text-color: #333;
$background-color: #f5f5f5;

// Mixin para padding e transition
@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}

@mixin transition($property, $time) {
  transition: $property $time ease;
}

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
  padding: 0px;
}

a {
  color: $link-color;
  text-decoration: none;
  @include transition(color, 0.3s);

  &:hover {
    color: $link-hover-color;
  }
}

// Header
.books__header {
  background-color: $primary-color;
  color: #fff;
  @include padding(20px, 0, 20px, 0);
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }

  .menu {
    a {
      margin: 0 10px;
      padding: 10px;
      color: #fff;
      border-radius: 5px;
      @include transition(background-color, 0.3s);

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

$colors: (primary: #2c3e50, secondary: #18bc9c, link: #3498db);

@each $name, $color in $colors {
  .#{$name}-background {
    background-color: $color;
  }

  .#{$name}-text {
    color: $color;
  }
}

.about {
  margin: 40px 0;
  text-align: center;

  h2 {
    margin-bottom: 10px;
    color: $primary-color;
  }

  img {
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    justify-content: center;
    width: 100%;
    height: 500px;
  }

  p {
    margin: 10px 0;
  }
}

.books {
  margin: 40px 0;
  padding: 20px;

  h2 {
    margin-bottom: 10px;
    color: $primary-color;
  }

  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
}

.contact {
  margin: 40px 0;
  text-align: center;

  h2 {
    margin-bottom: 10px;
    color: $primary-color;
  }

  p {
    margin: 10px 0;
    
    a {
      color: $link-color;

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}
